body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.cal-box {
  display: grid;
  border-radius: 5px;
  height: fit-content;
  width: fit-content;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  gap: 2px;
}

.span-two {
  grid-column: span 2;
}

.result {
  grid-column: 1 / -1;
  word-wrap: break-word;
  word-break: break-all;
}
